@keyframes bad {
  from {
    background: #C62828; }
  to {
    background: #E57373; } }

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }

.dashboard__item {
  flex: 0 1 50%;
  width: 50%;
  box-sizing: border-box;
  border-bottom: 1px solid #eee; }
  .dashboard__item:nth-child(odd) {
    border-right: 1px solid #eee; }
  .dashboard__item.is-bad {
    animation: bad 1000ms infinite linear alternate;
    color: #fff; }
  .dashboard__item__title {
    font-size: 40px;
    font-weight: 300;
    padding: 20px 10px 0 10px;
    line-height: 1;
    text-align: center; }
  .dashboard__item__unit {
    font-weight: 400;
    font-size: 15px;
    margin-left: 0.5ex;
    vertical-align: top; }
  .dashboard__item__subtitle {
    font-size: 18px;
    padding: 0 10px 0;
    line-height: 1; }
