body {
  font-family: Helvetica;
  background: #43576b;
  color: #fff;
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

p {
  margin: 0.5em 0; }
  p:last-child {
    margin-bottom: 0; }

h2 {
  margin-bottom: 0.5em; }

a {
  color: inherit;
  text-decoration: none; }

.screen-container {
  padding: 20px; }
  .screen-container--charts {
    background: #eee;
    color: #222;
    padding-left: 0; }
    .screen-container--charts h2 {
      padding-left: 10px; }

.AppBar {
  background: #0cb1da !important; }
