body {
  font-family: Helvetica;
  background: #eee;
  color: #555;
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0.5em 0;

  &:last-child {
    margin-bottom: 0;
  }
}

h2 {
  margin-bottom: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}
.screen-container {
  padding: 20px;
}
